.overviewMainDiv {
    padding: 3.2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    overflow: auto;
}

.overviewTitle {
    font-size: $text-preset-1;
    color: $grey-900;
}

.ballance_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    .ballance_div:nth-child(1){
        background-color: $grey-900;
        color: $white;

        .ballance_title {
            font-size: $text-preset-4;
            color: $white;
        }

    }
}
.ballance_div {
    border-radius: 1.2rem;
    color : $grey-900;
    width: 100% ;
    max-width: 337.33px;
    padding: 2.4rem;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    background-color:$white;

    h3 {
        font-size: $text-preset-1;
        display: flex;
    }
}
.ballance_title {
    font-size: $text-preset-4;
    color : $grey-500 ;
}

@media (max-width: 768px){
    .ballance_div{
        max-width: 213.33px;
    }
}

@media (max-width: 375px) {
    .ballance_section {
        flex-direction: column;
    }
    .ballance_div{
        max-width : 343px;
    }

    .overviewMainDiv {
        padding: 2.4rem 1.6rem;
    }
   
}


// FOUR-DETAILS-GRIDING    ::::::

.four_Details_div {
    display: flex;
    gap: 2.4rem;

    section {
        padding: 3.2rem;
        background-color:$white;
        border-radius:1.2rem;
    }
}

.first_details_tab {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 608px;

}

.second_details_tab {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    max-width: 608px;

}

// POTS-SECTION ::::::

.Pots_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $white;
   
    border-radius: 1.2rem;
}

.pots_title_div {
    display: flex;
    justify-content: space-between;
    a{
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
}
.pots_title {
    font-size: $text-preset-2;
    color:$grey-900;
}
.see_details {
    font-size: $text-preset-4;
    color:$grey-500;
}

.totals_div {
    display:flex;
    
    gap: 2rem;

    

    div:nth-child(1){
        width: 100%;
        max-width: 24.7rem;
    }

    div:nth-child(2){
        width: 100%;
        max-width: 27.7rem;
    }
}

.total_saved_main {
    display: flex;
    gap: 1.6rem;
    padding: 2rem 1.6rem;
    align-items: center;
    background-color: $beige-100;
    border-radius: 12px;
}

.total_saved{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.total_saved_title{
    font-size: $text-preset-4;
    color:$grey-500;
    font-weight: 400;
}

.total_saved_count{
    font-size: $text-preset-1;
    color:$grey-900;
}

.other_pots_main_div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 1.6rem;
    
    div{
        padding-left: 2rem;
        width: 100%;
        max-width: 13rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        justify-content: center;

        h4{
            font-size: $text-preset-5;
            color:$grey-500;
        }

        p{
            font-size: $text-preset-4;
            font-weight: 700;
            color: $grey-900;
        }

        
        
    }

    div:nth-child(1){
        border-left:4px solid $green;

    }
    div:nth-child(2){
        border-left:4px solid $cyan;

    }  
    div:nth-child(3){
        border-left:4px solid $navy;
        

    }   
    div:nth-child(4){
        border-left:4px solid $yellow;

    }
}

.budgets_section {
    background-color: $white;
    border-radius:1.2rem ;
}

.budgets_main_div {
    
    display: flex;
    flex-direction: column;
    gap: 5.1rem;

}

@media (max-width:768px){
    .four_Details_div{
        display: flex;
        flex-direction: column;
        
    }
}

.transactions_main_div {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.tran_members {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.member_div {
    display: flex;
    align-items: center;
    
}

.member_ava {
    border-radius: 50%;
    margin-right: 1.6rem;
}

.member_name {
    margin-right: auto;
    font-size: $text-preset-4;
    font-weight: 700;
    color:$grey-900;
}

.member_schoolars {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: end;
    align-items: end;
}

.member_amount {
    font-size: $text-preset-4;
    font-weight: 700;
}

.member_date {
    font-size: $text-preset-5;
    color: $grey-500;
}



// BILLS

.bills_main_div {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.bills_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    div {
        padding: 2rem 1.6rem;
        background-color:$beige-100;
        justify-content: space-between;
        border-radius:0.8rem;
        border-left: 4px solid $green;
    }
    div:nth-child(2){
        border-left: 4px solid $yellow;
    }
    div:nth-child(3){
        border-left: 4px solid $cyan;
    }
}

.paid_bill {
    display: flex;
}

.total_bill {
    display: flex;
}

.due_bill {
    display: flex;
}

.bill_title {
    color:$grey-500;
    font-size: $text-preset-4;
}

.bill_count {
    color:$grey-900;
    font-size: $text-preset-4;
    font-weight: 700;
}



