button {
    border-radius : 8px;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-color: transparent;
    border : 0;
    cursor: pointer;
    font-size: $text-preset-4;
    font-weight: 700;
}